<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <h1>Resend unlock instructions<h1>
    </div>
    <br>
    <br>
    <div class="text-center">
      <div class="d-flex justify-content-center">

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>


      <%= render "devise/shared/links" %>
      <% end %>
    
      </div>
    </div>
  </div>
</div>


